*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #a0e7f3;
    color: #000000;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
    font-weight: bold;
}

h5{
    font-size: 16px;
}
button{
    background-color: #2f3d2f;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}

.item-detail{
    margin-top: 20px;
}