*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #252323;
    color: #fff;
}
.form{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    font-size: 40px !important;
    text-shadow: 5px 0 5px rgba(255, 255, 255, 0.2);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#signupForm{
    text-align: center;
    width: 300px;
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(238, 209, 171);
    border-radius: 20px;
    color: #000;
    font-weight: 600;
    font-style: italic;
    box-shadow: 5px 2px 6px rgba(88, 76, 76, 0.2);
}
.data{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-shadow: 5px 0 5px rgba(255, 255, 255, 0.2);
}

.submit{
    padding: 10px 20px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit:hover{
    background-color: #7ebe81;
    transition: background-color 0.5s ease;
}

#submittedData{
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    text-shadow: 6px 0 2px rgba(253, 2, 2, 0.2);
}