body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.container {
    text-align: center;
    background-color: black;
    color: #f0f0f0;
}

.bulb {
    width: 500px;
    height: auto;
}

.button-container {
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.on-btn {
    background-color: #4CAF50;
    color: white;
}

.off-btn {
    background-color: #f44336;
    color: white;
}
